@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  max-width: 100vw;
  background-color: #f5f7f8;
}
body::-webkit-scrollbar {
  width: 5px;
}
body::-webkit-scrollbar-thumb{
  background-color: #f7f6f7;
  border-radius: 12px;
}
