@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}
body{
  width: 100vw;
  background-color: #f5f7f8;
}
::-webkit-scrollbar{
  background-color: rgba(211, 203, 203, 0.32);
  border-radius: 12px;
  padding: 2px;
}
::-webkit-scrollbar-thumb{
  background-color: #333;
  border-radius: 12px;
}
